version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: airport_postgres
    environment:
      POSTGRES_DB: airport_itsm
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: airport_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: airport_backend
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: airport_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app

volumes:
  db_data:
